body {
  padding: auto;
  margin: auto;
}
/* div.register-page {
  align-items: center;

} */
/* .register-page {
  width: 18%;
  padding: 50px;
  background-color: aqua;
} */
/* 
form {
  width: 20%;
  padding: 50px;
  background-color: aqua;
  margin: auto;
  margin-top: 50px;
}
input {
  width: 80%;
}

button {
  margin-top: 1px;
  margin-right: 1%;
  float: left;
}

a {
  margin-top: 1px;
  margin-right: 1%;
  float: right;
} */